{% extends "base.html" %}
{% block title %}Books{% endblock %}
{% block book %}active{% endblock %}
{% block content %}
<div class="row">
 <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <a href="{{ cf_url }}rfr_cover.JPG"><img alt="A Reason for Rainbows cover" src="{{ cf_url }}rfr_cover.JPG" width="350" height="300" class="img-responsive"></a>
  <p><h3>A Reason for Rainbows</h3><p>
 </div>
</div>
<div class="row">
 <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
<p> <i>First of the New Legends series:</i><br><br>
   A beautiful, benevolent serpent takes joy in caring for the earth and it's people. When man gets greedy, she is so heartbroken, she hides in sorrow. Man suffers and regrets neglecting what is good in the world. Serpent returns, life is good and the earth is abundant, but man has obviously not learned his lesson. Serpent retreats once again and patiently waits for man to learn how to dream once again.</p>
 </div>
</div>
{% endblock %}
