{% extends "base.html" %}
{% block title %}Contact Us{% endblock %}
{% block contact_us %}active{% endblock %}
{% block content %}
<div class="row">
 <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <table class="table table-bordered">
   <tr>
    <td>Phone: 210-867-5309</td>
   </tr>
   <tr>
    <td>Manuel: <a href="mailto:manuel@losroblesproductions.com">manuel@losroblesproductions.com</a></td>
   </tr>
   <tr>
    <td>Suzy: <a href="mailto:suzy@loseroblesproductions.com">suzy@losroblesproductions.com</a></td>
   </tr>
   <tr>
    <td>Sales: <a href="mailto:sales@losroblesproductions.com">sales@losroblesproductions.com</a></td>
   </tr>
   <tr>
    <td>General Information: <a href="mailto:info@losroblesproductions.com">info@losroblesproductions.com</a></td>
   </tr>
  </table>
 </div>
</div>
{% endblock %}
