{% extends "es_base.html" %}
{% block title %}Libros{% endblock %}
{% block book %}active{% endblock %}
{% block content %}
<div class="row">
 <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <a href="{{ cf_url }}es_rfr_cover.JPG"><img alt="A Reason For Rainbows Cover" src="{{ cf_url }}es_rfr_cover.JPG" width="350" height="300" class="img-responsive"></a>
  <p><h3>El Recuerdo Del Arco Iris</h3><p>
 </div>
</div>
<div class="row">
 <div class="col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
  <p><i>El primero en la serie de Nuevas Leyendas:</i><br><br>

Una hermosa y benevolente serpiente siente dicha al cuidar de la tierra y su gente.  Cuando el hombre se vuelve avaro, se le rompe el corazón y se entierra en un agujero.  El hombre sufre y se arrepiente de haber descuidado lo que es bueno en el mundo.  La Serpiente regresa, y la vida es buena y la tierra abundante.  Pero el hombre obviamente no ha aprendido su lección.  La Serpiente se retira una vez mas y espera pacientemente a que el hombre aprenda a soñar una vez mas.</p>
 </div>
</div>
{% endblock %}
