<!DOCTYPE html>
<html lang="es">
 <head>
  {% block head %}
  <title>{% block title %}{% endblock %} - Los Robles Productions</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="utf-8">
  <link href="{{ cf_url }}{{ bootstrap_css }}" rel="stylesheet" media="screen">
  <link href="{{ cf_url }}{{ custom_css }}" rel="stylesheet" media="screen">
  {% endblock %}
 </head>
 <body>
  <nav class="navbar navbar-default" role="navigation">
   <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
     <span class="sr-only">Toggle navigation</span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
     <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/?l=es"><img alt="tree" src="{{ cf_url }}tree.png" height="30" width="25" class="img-responsive"></a>
    <a class="navbar-brand" href="/?l=es">Los Robles Productions Inc.</a>
   </div>
   <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
     <li class="{% block our_story %}{% endblock %}"><a href="/our_story?l=es">Nuestra Historia</a></li>
     <li class="dropdown {% block book %}{% endblock %}">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nuestro Trabajo<b class="caret"></b></a>
      <ul class="dropdown-menu">
       <li><a href="/book/A%20Reason%20For%20Rainbows?l=es">El Recuerdo Del Arco Iris</a></li>
      </ul>
     </li>
     <li class="{% block contact_us %}{% endblock %}"><a href="/contact_us?l=es">Contacto</a></li>
    </ul>
    <script>
     document.write('<a class="navbar-text pull-right" href="'+ document.URL.split('?')[0] + '">English</a>');
    </script>
   </div>
  </nav>
  <div class="container">{% block content %}{% endblock %}</div>
  <div class="container">{% block footer %}{% endblock %}</div>
  <script src="{{ cf_url }}{{ jquery }}"></script>
  <script src="{{ cf_url }}{{ bootstrap }}"></script>
 </body>
</html>

