{% extends "es_base.html" %}
{% block title %}Casa{% endblock %}
{% block content %}
<div class="jumbotron col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
 <h1>Bienvenido a...</h1>
 <img alt="Tree" src="http://bd1bd20de0e06484ccd2-a4b933abf0480693b1cbd92bb7f0259c.r92.cf1.rackcdn.com/lrb.png" height="400" width="400" class="img-responsive center">
 <p>Hojee por favor alrededor. O no dude en ponerse en contacto con nuestro <a href="/contact_us?l=es">Contáctenos </a> página.</p>
</div>
<div class="row"> 
 <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"></div>
</div>
{% endblock %}
