{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
 <h1>Welcome to...</h1>
 <img alt="A Tree" src="http://bd1bd20de0e06484ccd2-a4b933abf0480693b1cbd92bb7f0259c.r92.cf1.rackcdn.com/lrb.png" height="400" width="400" class="img-responsive center">
 <p> Please browse around. Or feel free to get in touch on our <a href="/contact_us">Contact Us</a> page.</p>
</div>
<div class="row"> 
 <div class="col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"></div>
</div>
{% endblock %}
