div.banner {background-image:url('http://bd1bd20de0e06484ccd2-a4b933abf0480693b1cbd92bb7f0259c.r92.cf1.rackcdn.com/snakecut.png');}
img.center {display: block; margin-left: auto; margin-right: auto;}
